body {
    background-color: #ffffff;
    color: #343434;
    font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
    margin: 0;
    padding-top: 80px; /* Espacio para el encabezado fijo */
}

.top-line {
    width: 100%;
    height: 2mm; /* Altura de 2 milímetros */
    background-color: #343434;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que la línea esté siempre en la parte superior */
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #3886C9;
    padding: 10px;
    margin-top: 2mm; /* Para que la barra de navegación no esté cubierta por la línea superior */
    z-index: 999; /* Para asegurarse de que la barra de navegación esté en la parte superior */
    width: 100%;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

.navbar a:hover {
    text-decoration: underline; /* Si deseas subrayar al pasar el ratón */
}

.navbar a:visited {
    color: #ffffff;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    z-index: 998; /* Asegura que la presentación de imágenes esté debajo de la barra de navegación */
}

.mySlides {
    display: none;
    position: relative;
    width: 100%;
    z-index: 997;
}

.fade {
    animation-name: fade;
    animation-duration: 5s;
}

.slide {
    animation-name: slide;
    animation-duration: 5s;
}

.slideIn {
    animation-name: slideIn;
    animation-duration: 5s;
}

.flip {
    animation-name: flip;
    animation-duration: 5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes slideIn {
    from {transform: translateX(100%)}
    to {transform: translateX(0)}
}

@keyframes scale {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@keyframes flip {
    from {transform: rotateY(90deg)}
    to {transform: rotateY(0)}
}

.content {
    margin-left: 20%; /* Ajusta este valor para cambiar el tamaño de la sangría izquierda */
    margin-right: 20%; /* Ajusta este valor para cambiar el tamaño de la sangría derecha */
    text-align: justify; /* Opcional: para justificar el texto */
}

h1 {
    font-size: 23.4px; /* Cambia el tamaño de la fuente del h1 */
}

h2 {
    font-size: 18.2px; /* Cambia el tamaño de la fuente del h2 */
}

p {
    font-size: 13px; /* Cambia el tamaño de la fuente de los párrafos */
}

ul li {
    font-size: 13px; /* Cambia el tamaño de la fuente de los elementos de la lista */
}

.navbar h2 {
    font-size: 13px; /* Cambia el tamaño de la fuente de los enlaces en la barra de navegación */
}

.ValvulasProduc {
    display: flex;
    justify-content: center;
}


.Piedepagina {
    display: flex;
    justify-content: center;
}


.page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.left-side img, .right-side img {
    margin: 180px 0;;
    max-width: 100%;
}

.Banner {
    display: flex;
    justify-content: center; /* Opcional: Para centrar las imágenes */
    gap: 200px; /* Espacio entre las imágenes */
}


.Banner img{
    max-width: 100%;
    margin-left: 150px; /* Ajusta este valor según sea necesario */
    margin-right: 150px; /* Ajusta este valor según sea necesario */
}

.text-container {
    position: absolute;
    top: 200px;
    left: 10%;
    transform: translateX(-10%);
    text-align: justify;
    z-index: 999; /* Asegúrate de que esté sobre las diapositivas */
}

.text-box {
    padding: 5px 20px;
    margin: 10px 0;
    font-size: 1.5em;
    animation: fadeInOut 11s infinite;
}

.yellow-box {
    background-color: #FAC532;
    color: #09367A;
}

.white-box {
    background-color: #ffffff;
    color: #343434;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    25%, 75% { opacity: 1; }
}


footer {
    background-color: #3886C9;
    color: #E0E0E0;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}